<div class="content">
  <top-nav class="navbar navbar-expand navbar-dark bg-white static-top"></top-nav>
  <div id="wrapper">
    <left-navbar class="sidebar"></left-navbar>
    <div id="content-wrapper">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>

<!-- Sign Up Step 1 Modal-->
<div class="modal fade show" id="signUpStep1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block !important; opacity:1;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-heading">Reset Password </h2>
        <form class="row signUpForm" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="password">{{'password' | translate}}</label>

              <input type="password"
                     id="password"
                     [placeholder]="helper.i18n('password', 'new_func')"
                     formControlName="password"
                     class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">{{helper.i18n('password', 'required_func')}}</div>
                <div *ngIf="f.password.errors.minlength">{{helper.i18n('password', 'length_err_func')}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>

              <input type="password"
                     id="confirmPassword"
                     [placeholder]="helper.i18n('confirmPassword', 'enter_func')"
                     formControlName="confirmPassword"
                     class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"/>
              <div *ngIf="submitted && (f.password.touched && f.confirmPassword.touched)"
                   class="invalid-feedback">
                {{'passwords_arnt_match' | translate}}
              </div>
              <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors.required">{{helper.i18n('confirmPassword', 'required_func')}}</div>
                <div *ngIf="f.confirmPassword.errors.minlength">{{helper.i18n('confirmPassword', 'length_err_func')}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12" *ngIf="showErr || showEmailVer" [ngClass]="{'text-danger': showErr, 'text-success': showEmailVer}">
            {{message}}
          </div>
          <div class="col-sm-12 mt-2">
            <div class="form-group button-group text-center">
              <button class="btn btn-primary" type="submit">{{'resetPassword' | translate}}<span class="arrow-down"></span> </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group text-center"><a routerLink="/login">{{'logIn' | translate}}</a> </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>





