<div class="p-4">
  <h2 class="mb-3 h-medium blue">Stack</h2>
  <div class="mt-4">
    <div class="table-responsive table-wraper">
      <table mat-table [dataSource]="services" class="mat-elevation-z8 some">
        <ng-container  matColumnDef="platform">
          <th mat-header-cell *matHeaderCellDef> Platform </th>
          <td mat-cell *matCellDef="let element"><a routerLink="/stack/{{element._id}}">{{element.platform.name}}</a> </td>
        </ng-container>
        <ng-container matColumnDef="contract">
          <th mat-header-cell *matHeaderCellDef> Contract $/ ACV  </th>
          <td mat-cell *matCellDef="let element">
            <span>${{element.price}} / ${{avgPrice(element.platform, element.usage)}}</span>
            <a routerLink="/more-comps/{{element._id}}" class="d-block">See more comps</a>
          </td>
        </ng-container>
        <ng-container matColumnDef="difference">
          <th mat-header-cell *matHeaderCellDef> % Difference </th>
          <td mat-cell *matCellDef="let element"> {{difference(element.platform, element.usage, element.price)}}% </td>
        </ng-container>
        <ng-container matColumnDef="daysUntilRenewal">
          <th mat-header-cell *matHeaderCellDef> Days until Renewal </th>
          <td mat-cell *matCellDef="let element"> {{renewalDays(element)}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="row">
      <div class="col col-lg-12 text-center mt-4" *ngIf="services.length >= 5">
        <button type="button" (click)="loadMore()" class="btn success-gradient btn-submit mr-3">Load More</button>
      </div>
    </div>
  </div>
</div>
