<a class="navbar-brand mr-1" href="index.html">SaaSTracked</a>
<button class="btn-sidebarToggle" id="sidebarToggle" href="#"> <i class="sass-burger-icon"></i> </button>
<h4 class="fs16md">Menu</h4>
<ul class="navbar-nav">
  <li class="nav-item active"> <a class="nav-link" href="index.html"> <i class="sass-chart"></i> <span>Dashboard</span> </a> </li>
  <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="sass-stack"></i> <span>Pages</span> </a>

  </li>
  <li class="nav-item"> <a class="nav-link" href="charts.html"> <i class="sass-team-icon"></i> <span>Charts</span></a> </li>
  <li class="nav-item"> <a class="nav-link" href="tables.html"> <i class="sass-settings"></i> <span>Tables</span></a> </li>
</ul>


<a class="sign-out" href="index.html"><i class="sass-sign-out"></i> Sign Out</a>
