<div>
  <p class="navbar-brand mr-1"><span class="hide-names">SaaSTracked</span></p>
  <button class="btn-sidebarToggle pointer" id="sidebarToggle1" (click)="hideNavBar($event)">
    <i class="sass-burger-icon"></i>
  </button>
  <div class="administrator">
    <div class="administrator-img"><span class="user-circle" id="imgCircle" *ngIf="me.firstName">{{me.firstName[0]}}{{me.lastName[0]}}</span></div>
    <div class="administrator-name">{{me.firstName + ' ' + me.lastName}}</div>
    <div class="administrator-label">{{'administrator' | translate}}</div>
  </div>
  <h4 class="fs16md">Menu</h4>
  <ul class="navbar-nav">
    <li class="nav-item" *ngFor="let item of menuList" [ngClass]="{'active': link == item.link}">
      <a class="nav-link" routerLink="/{{item.link}}"> <i class="{{item.icon}}"></i>
        <span class="hide-names">{{item.name | translate}}</span>
      </a>
    </li>
    <li class="nav-item" *ngIf="isOwner" [ngClass]="{'active': link == '/settings'}">
      <a class="nav-link" routerLink="/settings"> <i class="sass-settings"></i>
        <span class="hide-names">{{'settings' | translate}}</span>
      </a>
    </li>
  </ul>
  <p class="sign-out pointer" (click)="showLogOutModal()">
    <i class="sass-sign-out"></i><span class="hide-names"> {{'signOut' | translate}}</span>
  </p>
</div>

<div bsModal #logOutModal="bs-modal" class="modal fade" id="eaaModal" tabindex="-1" aria-labelledby="logOutModal" aria-hidden="true">
  <div class="modal-wraper">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logOutModalLabel">{{'readyLeave' | translate}}</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="logOutModal.hide()">×</span>
          </button>
        </div>
        <div class="modal-body">{{'logoutMessage' | translate}}</div>
        <div class="modal-footer">
          <button class="btn-small btn-secondary" type="button" data-dismiss="modal" (click)="logOutModal.hide()">{{'cancel' | translate}}</button>
          <button type="button" class="btn-small btn-primary" (click)="logOut()">{{'logout' | translate}}</button>
        </div>
      </div>

    </div>
  </div>
</div>
