<div class="p-4">
  <div class="row">

  </div>
  <div class="row p-4">
    <div class="col-lg-12">
      <h2 class="mb-3 h-medium"><span class="text-success">More Comps</span></h2>
    </div>
    <div class="table-responsive col-lg-8">
      <table class="table">
        <thead>
        <tr>
          <td scope="col"></td>
          <td scope="col">My Contract</td>
          <td scope="col">Average Contract</td>
          <td scope="col">Difference</td>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>Contract Value</td>
            <td>{{contract.price}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Users (free)</td>
            <td>{{contract.freeUsersCount}}</td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Users (paid)</td>
            <td>{{contract.paidUsersCount}}</td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Time (free)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Email sends (paid)</td>
            <td>{{contract.paidEmailsSentCount}}</td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Email sends (free)</td>
            <td>{{contract.freeEmailsSentCount}}</td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Projects (free)</td>
            <td>{{contract.freeProjectsCount}}</td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Projects (paid)</td>
            <td>{{contract.freeProjectsCount}}</td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Support tier (paid)</td>
            <td>{{contract.paidSupportTier}}</td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Support tier (free)</td>
            <td>{{contract.freeSupportTier}}</td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Other</td>
            <td></td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Other (units)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Domains (paid)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>Domains (free)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>On-boarding (paid)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr><tr>
            <td>On-boarding (discount)</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
