<div class="row p-5">
  <div style="width: 100%">
    <div class="panel-details card card-body ">
      <h2 class="panel-details-heading">{{'teams' | translate}}
        <a class="btn-sm btn-primary btn-add-new pointer float-right" (click)="showAddTeamModal()">
        {{helper.i18n('team', 'add_func')}}</a>
      </h2>
      <div class="row">
        <div class="pointer col-sm-6 team-item"
             [ngClass]="{'last-elem': ((teams.length % 2) == 0) && i == (teams.length - 2)}"
             *ngFor="let team of teams; let i = index">
          <div class="team-elem">
            <div (click)="goToTeamPage(team)" class="team-name">{{team.name}}
              <i class="fas fa-angle-right float-right"></i>
            </div>
          </div>
          <div class="table-icon-btn">
            <a class="btn-circle-icon pointer" (click)="showDeleteModal(team, i)">
              <i class="action-remove-icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modals-->
<div bsModal #addTeamModal="bs-modal" class="modal fade" id="addTeamModal" tabindex="-1" aria-labelledby="addTeamModal" aria-hidden="true">
  <div class="modal-wraper">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0" id="addTeamModalLabel">{{helper.i18n('team', 'add_func')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideAddTeamModal(addTeamForm)">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addTeamForm="ngForm" class="form-group" (submit)="addTeam(addTeamForm)">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="teamName">{{'teamName' | translate}}</label>
                <input type="text" id="teamName"
                       [(ngModel)]="teamName"
                       name="teamName"
                       class="form-control"
                       [placeholder]="helper.i18n('team', 'enter_func')"
                       required
                       [ngClass]="{ 'is-invalid': addTeamForm.submitted && !teamName}" />
                <div *ngIf="addTeamForm.submitted && !teamName" class="invalid-feedback">
                  <div>{{helpers.i18n('team', 'required_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 text-danger" *ngIf="ifErr || successAdd" [ngClass]="{'text-danger': ifErr, 'text-success': successAdd}">
              {{errorMessage}}
            </div>
            <div class="col-sm-12" >
            </div>
            <div class="mt-2 float-right">
              <button type="button" class="btn-small btn-secondary btn-close mr-2" (click)="hideAddTeamModal(addTeamForm)">
                {{'cancel' | translate}}
              </button>
              <button type="submit" [disabled]="disabled || successAdd"
                      class="btn-small btn-primary btn-close">{{'save' | translate}}
                <i *ngIf="disabled" class="fas fa-spinner fa-spin"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--deleteModal-->
<div bsModal #deleteModal="bs-modal" class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-wraper">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0" id="deleteModalLabel">{{helper.i18n('team', 'delete_func')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideDeleteModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm" class="form-group" (submit)="removeTeam()">
            <div><h4>{{'remove_team_message' |translate:team}}</h4></div>
            <div class="col-sm-12" *ngIf="showErr || showSuccess" [ngClass]="{'text-danger': showErr, 'text-success': showSuccess}">
              {{errorMessage}}
            </div>
            <div class="mt-2 float-right">
              <button type="button" class="btn-small btn-secondary btn-close mr-2" (click)="hideDeleteModal()">{{'no' | translate}}</button>
              <button type="submit" [disabled]="disabled || showSuccess" class="btn-small btn-primary btn-close">{{'yes' | translate}}<i *ngIf="disabled" class="fas fa-spinner fa-spin"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
