<div class="container-fluid">
  <div>
    <h2 class="page-title text-capitalize" *ngIf="breadcrumbs[1]">{{breadcrumbs[1].split('-').join(' ')}}</h2>
    <div class="subcontractHed back" *ngIf="breadcrumbs[1] !== 'dashboard'">
      <a class="backlink pointer" (click)="helper.goBack()">
        Back
      </a>
    </div>
  </div>
  <div class="ml-auto btn-shadow green-btn">
    <a routerLink="/add-new-service">
      <button type="submit" class="btn service-btn  btn-success"><span class="btn-value">{{'add_new_service' | translate}}</span>
        <span class="arrow-down"></span>
      </button>
    </a>
  </div>
  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow name">
      <span class="user-circle" *ngIf="me.firstName">{{me.firstName[0]}}{{me.lastName[0]}}</span>
      <span class="username">{{'hello' | translate}} {{me.firstName}}!</span>
    </li>
  </ul>
</div>
