<div class="container-fluid">
  <div class="row">
    <div class=" col-sm-12">
      <div class="panel-details card card-body SaaSTracked_card">
        <div class="wrapper-Header">
          <div class="tabs-heading-nav">
            <a class="activ">{{'admin_to_receive_monthly_report' | translate}}</a>
            <span>{{'votingCommittee' | translate}}</span>
          </div>
          <div class="filterAria">
              <div class="search-service">
                <input id="search-by" placeholder="{{'search' | translate}}" (input)="search($event)" class="form-control" type="search" aria-controls="dtBasicExample">
              </div>
              <a class="btn-sm btn-primary btn-add-new pointer" (click)="showAddAdminModal()">{{helpers.i18n('admin', 'add_func')}}</a>
          </div>
        </div>
        <div class="table-responsive saaTable-myTeam">
          <table id="dtBasicExample3" class="table  tableSaaSbt dataTable table-sm" cellspacing="0" width="100%" >
            <thead>
            <tr>
              <th class="th-sm sorting_desc pointer" (click)="sortBy('fName')">
                <span>{{'firstName' | translate}}
                  <i class="fas fa-arrow-up" [ngClass]="{'arrow-active': sortByTerm == 'fName' && dir == 'asc'}"></i>
                  <i class="fas fa-arrow-down" [ngClass]="{'arrow-active': sortByTerm == 'fName' && dir == 'desc'}"></i>
                </span>
              </th>
              <th class="th-sm sorting_desc pointer" (click)="sortBy('lName')">
                <span>{{'lastName' | translate}}
                  <i class="fas fa-arrow-up" [ngClass]="{'arrow-active': sortByTerm == 'lName' && dir == 'asc'}"></i>
                  <i class="fas fa-arrow-down" [ngClass]="{'arrow-active': sortByTerm == 'lName' && dir == 'desc'}"></i>
                </span>
              </th>
              <th class="th-sm sorting_desc pointer" (click)="sortBy('email')">
                <span>{{'email' | translate}}
                  <i class="fas fa-arrow-up" [ngClass]="{'arrow-active': sortByTerm == 'email' && dir == 'asc'}"></i>
                  <i class="fas fa-arrow-down" [ngClass]="{'arrow-active': sortByTerm == 'email' && dir == 'desc'}"></i>
                </span>
              </th>
              <th id="actions-coll" class="th-sm"><span class="actions-th">{{'actions' | translate}}</span> </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let admin of admins;let i = index;">
              <td >{{admin.firstName}}</td>
              <td>{{admin.lastName}}</td>
              <td>{{admin.email}}</td>
              <td>
                <span class="table-icon-btn">
                  <a class="btn-circle-icon pointer" (click)="showAddAdminModal(admin, i)">
                    <i class="action-edit-icon"></i>
                  </a>
                  <a class="btn-circle-icon pointer" (click)="showDeleteAdminModal(admin, i)">
                    <i class="action-remove-icon"></i>
                  </a>
                </span>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="pagination">
            <div class="dtBasicSaasfooter">
              <div class="numberofPage">
                <div class="dataTables_info" id="dtBasicExample3_info" role="status" aria-live="polite">
                  {{'showing' | translate}} {{defPaginate.offset * defPaginate.size ? defPaginate.offset * defPaginate.size + 1 : 1 }} {{'to' | translate}}
                  {{(defPaginate.offset * defPaginate.size) + admins.length}} {{'of' | translate}} {{adminsCount}} {{'entries' | translate}}
                </div>
              </div>
              <div class="SaaSpaginate" *ngIf="pages.length > 1">
                <div class="dataTables_paginate paging_simple_numbers" id="dtBasicExample3_paginate">
                  <ul class="pagination">
                    <li class="paginate_button page-item previous " id="dtBasicExample3_previous">
                      <a  aria-controls="dtBasicExample3"
                          [ngClass]="{'disabled': globPage == 1}"
                          class="page-link" (click)="changePage(globPage - 1)">
                        Previous
                      </a>
                    </li>
                    <li class="paginate_button page-item"
                        *ngFor="let page of pages;let i = index"
                        [ngClass]="{'active': globPage == (i + 1)}">
                      <a  aria-controls="dtBasicExample3" class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
                    </li>
                    <li class="paginate_button page-item next" id="dtBasicExample3_next">
                      <a  aria-controls="dtBasicExample3" data-dt-idx="3" tabindex="0"
                          [ngClass]="{'disabled': globPage == pages.length}"
                          class="page-link" (click)="changePage(globPage + 1)">
                        Next
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="bs-select float-right">
                <label>Display:</label>
                <select class="length_select minimal" (change)="selectSize($event)">
                  <option value="5">5</option>
                  <option value="10" selected>10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #addAdminModal="bs-modal" class="modal fade" id="addAdminModal" tabindex="-1" aria-labelledby="addAdminModal" aria-hidden="true">
  <div class="modal-wraper">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0" id="addAdminModalLabel">{{helpers.i18n('admin', !this.admin ? 'add_func' : 'edit_func')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideAddAdminModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="addAdminForm" class="row" (ngSubmit)="addAdmin()">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="firstName">{{'firstName' | translate}}</label>
                <input type="text" id="firstName"
                       formControlName="firstName"
                       class="form-control"
                       [placeholder]="helpers.i18n('firstName', 'enter_func')"
                       [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" autofocus/>
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required">{{helpers.i18n('firstName', 'required_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="lastName">{{'lastName' | translate}}</label>
                <input type="text" id="lastName"
                       formControlName="lastName"
                       [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                       class="form-control"
                       [placeholder]="helpers.i18n('lastName', 'enter_func')">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">{{helpers.i18n('lastName', 'required_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="email1">{{'email' | translate}}</label>
                <input type="text" id="email1" formControlName="email"
                       class="form-control"
                       [placeholder]="helpers.i18n('email', 'enter_func')"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">{{helpers.i18n('email', 'required_func')}}</div>
                  <div *ngIf="f.email.errors.pattern">{{helpers.i18n('email', 'not_valid_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 text-danger" *ngIf="ifErr || successAdd" [ngClass]="{'text-danger': ifErr, 'text-success': successAdd}">
              {{errorMessage}}
            </div>
            <div class="mt-3 mr-3 col-sm-12">
              <button type="submit" [disabled]="disabled || successAdd"
                      class="btn-small btn-primary btn-close float-right">{{'save' | translate}}
                <i *ngIf="spinner" class="fas fa-spinner fa-spin"></i>
              </button>
              <button type="button" class="btn-small btn-secondary btn-close ml-2 float-right mr-2" (click)="hideAddAdminModal()">
                {{'cancel' | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #deleteAdminModal="bs-modal" class="modal fade" id="deleteAdminModal" tabindex="-1" aria-labelledby="deleteAdminModal" aria-hidden="true">
  <div class="modal-wraper">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title mt-0" id="deleteAdminModalLabel">{{helpers.i18n('admin', 'remove_func')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hideDeleteAdminModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #removeAdminForm="ngForm" class="form-group" (submit)="deleteAdmin()">
            <div>
              <div><h4>{{'are_you_sure_remove' | translate:admin}}</h4></div>
            </div>
            <div class="col-sm-12 text-danger" *ngIf="ifErr || successAdd" [ngClass]="{'text-danger': ifErr, 'text-success': successAdd}">
              {{errorMessage}}
            </div>
            <div class="mt-4 float-right">
              <button type="button" class="btn-small btn-secondary btn-close mr-2" (click)="hideDeleteAdminModal()">{{'no' | translate}}</button>
              <button type="submit" [disabled]="disabled || successAdd" class="btn-small btn-primary btn-close">{{'yes' | translate}}
                <i *ngIf="spinner" class="fas fa-spinner fa-spin"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
