<div class="content">
  <top-nav class="navbar navbar-expand navbar-dark bg-white static-top"></top-nav>
  <div id="wrapper">
    <left-navbar class="sidebar"></left-navbar>
    <div id="content-wrapper">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>

<!-- Sign Up Step 1 Modal-->
<div bsModal #stepOneModal="bs-modal" class="modal fade" id="signUpStep1" tabindex="-1" aria-labelledby="signUpStep1" aria-hidden="true">
  <div class="modal-wraper">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="steps">
            <div class="progressBar progress-step1 active">
              <span class="bs-wizard-dot"></span>
              <div class="progress-step-info"> {{'step' | translate}} 1
                <div class="stepname">{{helper.i18n('account', 'creating_func')}}</div>
              </div>
            </div>
            <div class="progressBar progress-step2">
              <span class="bs-wizard-dot right-dot"></span>
              <div class="progress-step-info"> {{'step' | translate}} 2
                <div class="stepname">{{helper.i18n('Email', 'verifying_func')}}</div>
              </div>
            </div>
          </div>
          <h2 class="modal-heading">{{'signUp' | translate}}</h2>
          <form class="row signUpForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="company">{{'company' | translate}}</label>
                <input type="text" id="company"
                       formControlName="company"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.company.errors }"
                       [placeholder]="helper.i18n('company', 'enter_func')" autofocus>
                <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                  <div *ngIf="f.company.errors.required || f.company.dirty || !f.company.pristine">{{helper.i18n('company', 'required_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="firstName">{{'firstName' | translate}}</label>
                <input type="text" id="firstName"
                       formControlName="firstName"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                       [placeholder]="helper.i18n('firstName', 'enter_func')">
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                  <div *ngIf="f.firstName.errors.required || f.firstName.dirty || !f.firstName.pristine">{{helper.i18n('firstName', 'required_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="lastName">{{'lastName' | translate}}</label>
                <input type="text" id="lastName"
                       formControlName="lastName"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                       [placeholder]="helper.i18n('lastName', 'enter_func')">
                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                  <div *ngIf="f.lastName.errors.required">{{helper.i18n('lastName', 'required_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="team">{{'team' | translate}}</label>
                <select class="form-control" id="team" formControlName="team" [ngClass]="{ 'is-invalid': submitted && f.team.errors, 'disable': !f.team.value }" required>
                  <option value="" selected disabled>{{'team' | translate}}</option>
                  <option *ngFor="let team of teams" [value]="team._id">{{team.name}}</option>
                </select>
                <div *ngIf="submitted && f.team.errors" class="invalid-feedback">
                  <div *ngIf="f.team.errors.required || f.team.dirty || !f.team.pristine">
                    {{helper.i18n('team', 'required_func')}}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="email">{{'corporate_email_address' | translate}}</label>
                <input type="text" id="email" formControlName="email"
                       class="form-control"
                       [placeholder]="helper.i18n('email', 'enter_func')"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">{{helper.i18n('email', 'required_func')}}</div>
                  <div *ngIf="f.email.errors.pattern">{{helper.i18n('email', 'not_valid_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="password">{{'password' | translate}}</label>
                <input type="password" id="password"
                       formControlName="password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                       class="form-control" [placeholder]="helper.i18n('password', 'enter_func')">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">{{helper.i18n('password', 'required_func')}}</div>
                  <div *ngIf="f.password.errors.minlength">{{helper.i18n('password', 'length_err_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group">
                <label for="confirmPassword">{{'confirmPassword' | translate}}</label>
                <input type="password"
                       [placeholder]="helper.i18n('confirmPassword', 'enter_func')"
                       id="confirmPassword" formControlName="confirmPassword"
                       class="form-control " [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmPassword.errors.required">{{helper.i18n('password', 'required_func')}}</div>
                  <div *ngIf="f.confirmPassword.errors.minlength">{{helper.i18n('password', 'length_err_func')}}</div>
                </div>
              </div>
            </div>
            <div class="col-sm-12" *ngIf="showErr" [ngClass]="{'text-danger': showErr}">
              {{errorMessage}}
            </div>
            <div class="col-sm-12" *ngIf="disabled">
              <i class="fas fa-spinner fa-spin fa-2x"></i>
            </div>
            <div class="col-sm-12 service-privacy">
              {{'serviceAndPrivacy' | translate}} <a [href]="hrefs.service" target="_blank">{{'termsOfService' | translate}}</a> {{'and' | translate}}
              <a [href]="hrefs.privacy" target="_blank">{{'privacyPolicy' | translate}}</a>
            </div>
            <div class="col-sm-12 mt-2">
              <div class="form-group button-group text-center">
                <button class="btn btn-primary" type="submit">{{'signUp' | translate}} <span class="arrow-down"></span> </button>
              </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group text-center"> {{'already_have_an_account' | translate}} <a routerLink="/login">{{'logIn' | translate}}</a> </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Sign Up Step 2 Modal-->

<div bsModal #stepTwoModal="bs-modal" class="modal fade" id="signUpStep2" tabindex="-1" aria-labelledby="stepTwoModal" aria-hidden="true">
  <div class="modal-wraper">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="steps">
            <div class="progressBar progress-step1 complete"> <span class="bs-wizard-dot"></span>
              <div class="progress-step-info"> {{'step' | translate}} 1
                <div class="stepname">{{helper.i18n('account', 'creating_func')}}</div>
              </div>
            </div>
            <div class="progressBar progress-step2 active"> <span class="bs-wizard-dot right-dot"></span>
              <div class="progress-step-info"> {{'step' | translate}} 2
                <div class="stepname">{{helper.i18n('Email', 'verifying_func')}}</div>
              </div>
            </div>
          </div>
          <h2 class="modal-heading">{{'sugnedUp' | translate}}!<i class="ml-2 fas fa-check text-success"></i></h2>
          <h3 class="text-secondary">
            {{'verify_email_message' | translate}}
          </h3>
          <div class="form-group text-center"> <a routerLink="/login" autofocus>{{'logIn' | translate}}</a> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>

