<div class="p-4">
  <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
    <div class="upload-form row mt-4">
      <div class="box col-lg-12">
        <div class="overlay-layer"></div>
        <input type="file" class="file-input" accept="application/pdf" formControlName="file" (change)="onFileChange($event)">
        <div class="dropzone"
             [ngClass]="{'active': dropzoneActive}">
          <i class="fa fa-file fa-4x"></i>
          <h5 class="button-text mt-2" style="word-wrap: break-word">{{fileName ? fileName : ('drop_your_PDF_here' | translate)}}</h5>
          <span [innerHTML]="selectedFile ? textForSelected : textForInput"></span>
        </div>
      </div>
      <div class="col-lg-12 text-center mt-2"
           *ngIf="showMessage"
           [ngClass]="{'text-success': errType == 'success', 'text-danger': errType == 'error'}">
        {{message}}
      </div>
      <div class="col-lg-12 text-center mt-2">
        <p>{{'weManuallyCheck' | translate}}</p>
        <p>{{'pleaseAllowUp' | translate}}</p>
      </div>
      <div class="mt-3 col-lg-12 buttons">
        <button type="button" class="btn btn-clear btn-submit mr-2" (click)="clearFile()">{{'clear_file' | translate}}</button>
        <button type="submit" [disabled]="disabled" class="btn success-gradient btn-submit">
          {{'submit' | translate}}
          <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
        </button>
      </div>
    </div>
  </form>
</div>
