<div class="content">
  <top-nav class="navbar navbar-expand navbar-dark bg-white static-top"></top-nav>
  <div id="wrapper">
    <left-navbar class="sidebar"></left-navbar>
    <div id="content-wrapper">
      <app-dashboard></app-dashboard>
    </div>
  </div>
</div>

<div class="modal fade show" id="signUpStep1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block !important; opacity:1;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-heading">{{'resetPassword' | translate}} </h2>
        <form class="row signUpForm" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="email">{{'corporate_email_address' | translate}}</label>
              <input type="email"
                     [placeholder]="helper.i18n('email', 'enter_func')"
                     id="email"
                     formControlName="email"
                     class="form-control"
                     [ngClass]="{ 'is-invalid': submitted && f.email.errors && (f.email.touched || f.email.pristine)}"/>
              <div *ngIf="submitted && f.email.errors && (f.email.touched || f.email.pristine)" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">{{helper.i18n('email', 'required_func')}}</div>
                <div *ngIf="f.email.errors.pattern">{{helper.i18n('email', 'not_valid_func')}}</div>
              </div>
            </div>
          </div>
          <div class="col-sm-12" *ngIf="showErr || showEmailVer" [ngClass]="{'text-danger': showErr, 'text-success': showEmailVer}">
            {{message}}
          </div>
          <div class="col-sm-12 mt-3">
            <div class="form-group button-group text-center">
              <button class="btn btn-primary" type="submit">{{'reset' | translate}} <span class="arrow-down"></span> </button>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group text-center"><a routerLink="/login">{{'logIn' | translate}}</a> </div>
          </div>
      </form>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade show"></div>
